.hero__item-img{
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.artists__item--gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-gap: 20px;
}